<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.auriculoterapia_app">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_ear_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_ear_2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.HistoryActivity"/>
        <activity android:name=".activities.InitialImageActivity" />

        <activity android:name=".activities.ChangeKeyWordActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.AnswerTreatmentRequestActivity" />
        <activity android:name=".activities.TreatmentRequestActivity" />
        <activity android:name=".activities.TreatmentPacientActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".activities.PatientsManagementActivity" />
        <activity android:name=".activities.AppointmentPatientManagement" />
        <activity android:name=".MainActivityPatient" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.AppointmentManagement" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>