<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/bf8fc01f-d013-4479-a42b-57f4c36c5ec7/resourceGroups/AuriculoterapiaApi20200902160255ResourceGroup/providers/Microsoft.Web/sites/AuriculoterapiaApi20200902160255</ResourceId>
    <ResourceGroup>AuriculoterapiaApi20200902160255ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://auriculoterapiaapi20200902160255.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://auriculoterapiaapi20200902160255.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>9cd1ea38-05fe-48a7-9c96-a456641142c3</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-161.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AuriculoterapiaApi20200902160255</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AuriculoterapiaApi20200902160255</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>